/* Your Styles Here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbit&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbit&display=swap");
}

body {
  margin: 0px;
  display: inline-block;
  font-family: "Montserrat", Arial, sans-serif;
}

.main-display {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-container {
  width: 40em;
  height: 24em;
  border: solid 1px lightgray;
  border-radius: 16px;

  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-container:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}

h1 {
  margin: 0px;
  color: darkblue;
}
