/* Your Styles Here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbit&display=swap");

@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbit&display=swap");
}

body {
  display: inline-block;
  font-family: "Montserrat", Arial, sans-serif;
}

* {
  margin: 0px;
}

.main-display {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-container {
  width: 40em;
  height: 24em;
  border: solid 1px lightgray;
  border-radius: 16px;

  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-container:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  transition: 0.5s;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
}

.header-text {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.header h1 {
  color: darkblue;
}

.header h3,
.description h4 {
  color: rgba(48, 143, 200, 0.8);
}
.intro {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.description .line {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
